<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Salon App</title>
    </head>

    <body>

        <h1>Welcome to the Salon App</h1>








        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app -->

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyC68CY1VY05dxk8mipwQrx04uMnHdbHxBY",
                authDomain: "aluui-salon-web.firebaseapp.com",
                databaseURL: "https://aluui-salon-web.firebaseio.com",
                projectId: "aluui-salon-web",
                storageBucket: "",
                messagingSenderId: "186491911283",
                appId: "1:186491911283:web:365a4ff7998c9e7c923e06"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
        </script>
    </body>

</html>