<div class="table-responsive-sm">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody *ngIf="appointments">
            <tr *ngFor="let appointment of appointments">
                <td>Test</td>
                <!-- <td>{{ appointment.c }}</td> -->
                <td>
                    {{ appointment.dateOfAppointment }} -
                    {{ appointment.timeOfAppointment }}
                </td>
                <td>{{ appointment.Notes }}</td>
            </tr>
        </tbody>
    </table>
</div>
