<form (submit)="formSubmitted()" class="col-md-5 form-group">
    <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.serviceCode"
        name="newService.serviceCode"
        placeholder="Service Code"
    />
    <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.description"
        name="newService.description"
        placeholder="Description"
    />
    <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.smsDescription"
        name="newService.smsDescription"
        placeholder="Sms Description"
    />
    <input
        type="number"
        class="form-control"
        [(ngModel)]="newService.costToOwner"
        name="newService.costToOwner"
        placeholder="Cost To Owner"
    />
    <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.departmentType"
        name="newService.departmentType"
        placeholder="Department Type"
    />
    <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.categoryType"
        name="newService.categoryType"
        placeholder="Category Type"
    />
    <input
        type="number"
        class="form-control"
        [(ngModel)]="newService.servicePrice"
        name="newService.servicePrice"
        placeholder="Service Price"
    />
    <!-- <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.birthday"
        name="newService.birthday"
        placeholder="(MM/DD/YYYY)"
    /> -->
    <!-- <input
        type="text"
        class="form-control"
        [(ngModel)]="newService.phoneNumber"
        name="newService.phoneNumber"
        placeholder="format: 222-333-4444"
    /> -->
    <div class="col-auto">
        <button
            type="button"
            class="btn btn-outline-warning"
            [routerLink]="['/services']"
            routerLinkActive="router-link-active"
        >
            Cancel
        </button>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</form>
