<form (submit)="formSubmitted()" class="col-md-5 form-group">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="name"
    name="Name"
    placeholder="Product name"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="sku"
    name="SKU"
    placeholder="Sku number"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="price"
    name="Product price"
    placeholder="Price"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="description"
    name="description"
    placeholder="Product description"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="image"
    name="imageUrl"
    placeholder="upload image or use image link"
  />
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-outline-danger"
      [routerLink]="['/products']"
      routerLinkActive="router-link-active"
    >
      Cancel
    </button>

    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div>
</form>
