<form (submit)="formSubmitted()" class="col-md-5 form-group">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="firstName"
    name="firstName"
    placeholder="First Name"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="lastName"
    name="lastName"
    placeholder="Last Name"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="DOB"
    name="DOB"
    placeholder="(MM/DD/YYYY)"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="phoneNumber"
    name="phoneNumber"
    placeholder="format: 222-333-4444"
  />
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-outline-warning"
      [routerLink]="['/clients']"
      routerLinkActive="router-link-active"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </div>
</form>
