<div class="row">
    <div class="card col-md-5">
        <img
            src="../../../assets/images/home-page pictures/schedule.jpg"
            class="card-img-top img-fluid"
            alt="Photo by Brooke Lark on Unsplash"
        />
        <div class="card-body justify-ailgn-center">
            <a [routerLink]="['/schedule']" class="btn btn-primary btn-block"
                >Check Schedule</a
            >
        </div>
    </div>

    <div class="card col-md-5">
        <img
            src="../../../assets/images/home-page pictures/appointment.jpg"
            class="card-img-top img-fluid"
            alt="Photo by Carolyn V on Unsplash"
        />
        <div class="card-body">
            <a href="#" class="btn btn-primary btn-block">Book Appointment</a>
        </div>
    </div>

    <div class="card col-md-5">
        <img
            src="../../../assets/images/home-page pictures/clients.jpg"
            class="card-img-top img-fluid"
            alt="Photo by Blake Wisz on Unsplash"
        />
        <div class="card-body">
            <a
                class="nav-link"
                [routerLink]="['/clients']"
                routerLinkActive=""
                href="#"
                class="btn btn-primary btn-block"
                >Clients</a
            >
        </div>
    </div>

    <div class="card col-md-5">
        <img
            src="../../../assets/images/home-page pictures/products.jpg"
            class="card-img-top img-fluid"
            alt="Photo by ONNE Beauty on Unsplash"
        />
        <div class="card-body">
            <a href="#" class="btn btn-primary btn-block">Product & Services</a>
        </div>
    </div>
</div>
