<p>home works!</p>

<nav>
  <li>
    <a
      class="nav-link"
      [routerLink]="['/schedule']"
      routerLinkActive=""
      href="#"
      >Check schedule</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      [routerLink]="['/appointment']"
      routerLinkActive=""
      href="#"
      >Book Appointment</a
    >
  </li>
  <li>
    <a class="nav-link" [routerLink]="['/clients']" routerLinkActive="" href="#"
      >Clients</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      [routerLink]="['/productandservices']"
      routerLinkActive=""
      href="#"
      >Product & Services Page</a
    >
  </li>
</nav>
