<nav>
    <ul class="nav">
        <li class="nav-item">
            <i
                class="fa fa-plus btn btn-primary"
                [routerLink]="['/products/add-product']"
                routerLinkActive=""
            ></i>
        </li>
    </ul>
</nav>

<h2>My Products</h2>

<div *ngFor="let product of products | async">
    <h4>
        {{ product.description }} -

        <i
            class="fa fa-user btn btn-outline-info"
            [routerLink]="['product', product.productId]"
            routerLinkActive=""
        ></i>
        <i
            class="fa fa-pencil btn btn-outline-warning"
            [routerLink]="['edit-product', product.productId]"
        ></i>
        <i
            class="fa fa-trash btn btn-outline-danger"
            [routerLink]="['delete-product', product.productId]"
        ></i>
    </h4>
</div>
