@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Salon Manager</h1>
    <p class="lead">Manage your salon from your device. Book Clients, check your schedules, sell your products and services and even collect payment.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Check Schedule</h2>
        <p>
            See when your next client is.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Book Appointment</h2>
        <p>
            Get your Clients in
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Clients List</h2>
        <p>
            See who your clients are
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Products/Services</h2>
        <p>
            See your Products and Services
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>