@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Salon Manager</h1>
    <p class="lead">Manage your salon from your device. Book Clients, check your schedules, sell your products and services and even collect payment.</p>
</div>

<div class="row">
    <div class="col-md-6" align="center">
        <h2>Check Schedule</h2>
        <p class="btn btn-default" >@Html.ActionLink("Check Schedule","Index", "Appointments")</p>
    </div>

    <div class="col-md-6" align="center">
        <h2>Book Appointment</h2>
        <p class="btn btn-default">@Html.ActionLink("Book Appointment", "Create", "Appointments")</p>
    </div>

    <div class="col-md-6" align="center">
        <h2>Clients List</h2>
        <p class="btn btn-default">@Html.ActionLink("See Clients", "Index", "Clients")</p>
    </div>

    <div class="col-md-6" align="center">
        <h2>Products/Services</h2>
        <p class="btn btn-default">@Html.ActionLink("Products/Services", "Index", "Clients")</p>
    </div>

</div>